*{
    background-color: #293439;
}
.jumbotext{
    margin:0;
    color: black;
    z-index: 1;
    display: flex;
    position: relative;
}

/* img {} */

.login{
    display: flex;
}

nav *{
    background-color: white;
}
.navbar{
    padding: 0 !important;
}

/* .carousel{
    padding: 0 100px;
    margin-bottom: 2rem;
} */
.carousel-inner{
    height: 600px;
}
.carousel-control-prev, .carousel-control-next{
    color: black;
}

.hstack{
    justify-content: space-around;
}
.card div{
    color: #38708E;
}

footer{
    background-color: black;
    border-top: 1px solid #635038;
}
footer a{
    text-decoration: none;
}